// colores //
$primary:rgb(29, 29, 65);
$color-primary:rgb(35, 35, 122);
$color-secundary:grey;
// @mixin //
@mixin explicaciones {
  color: white;
  font-size: 1.5rem;
  width: 90vw;
  margin-left: 15px;
}
@mixin test {
  width: 80%;
  margin: 5%;
}
@mixin iconosredes { width: 70px;
  height: 70px;
  
}
// mapa colores redes sociales para footer//
$redes :(
  insta:  rgb(231, 58, 247),
  face : rgb(14, 14, 109) ,
  linke: rgb(41, 105, 179),
)