* {
  margin: 0ch;
  padding: 0%;
  font-family: "Preahvihear", sans-serif;
}

.barra_nav {
  display: flex;
  justify-content: end;
  background-color: rgb(29, 29, 65);
  color: white;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.ancla_barra {
  color: white !important;
  font-size: 1.5rem;
}
.ancla_barra:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3rem;
  color: white;
}
.forumlario_contacto {
  margin-left: 15rem;
}
body {
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.intro {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  width: 90vw;
}

.intro_titulo {
  margin-left: 5opx;
  width: 400px;
}
.intro_text {
  background-color: rgba(37, 37, 37, 0.5);
  color: white;
  font-size: 1.5rem;
  width: 40%;

}
.intro_video {
  width: 45%;
  height: 45%;

}
.proyecto {
  background-color: rgba(37, 37, 37, 0.5);
  color: white;
  font-size: 1.5rem;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 25px;
}

.titulo_equipo {
  margin: 10px;
}
.equipo {
  background-color: rgba(37, 37, 37, 0.5);
  color: white;
  font-size: 1.5rem;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  justify-content: space-around;
}
.equipo_tarjetas {
  width: 180px;
  height: 200px;
  align-items: center;
}
.fotos_equipo {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.fotos_equipo :hover {
  transform: scale(1.1);
  transition: 0.5s;
}
footer {
  background-color: rgb(29, 29, 65);
}

.iconos_redes {
  width: 70px;
  height: 70px;
}
.iconos_redes:hover {
  background-color: rgba(245, 240, 240, 0.5);
}
.texto_footer {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  align-self: flex-end;
  display: flex;
}
.link_contacto_footer {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  align-self: flex-end;
  display: flex;
  position: absolute;
  margin-left: 950px;
}
.forumlario_contacto {
  width: fit-content;
  justify-content: center;
  margin-left: 500px;
}

.Intro_Terapias {
  color: white;
  position: relative;
  display: flex;
}
.Intro_Terapias_Texto {
  position: absolute;
  width: 45%;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  background-color: rgba(37, 37, 37, 0.5);
  font-size: 1.5rem;
}

.Intro_Terapias_Imagen {
  width: 600;
  height: 500px;
  margin-left: 240%;
  margin-top: 70px;
}

.talleres {
  width: 100vw;
  display: flex;
  margin-bottom: 5%;
}
.talleres_texto {
  color: white;
  font-size: 1.5rem;
  width: 40%;
  position: absolute;
  margin-left: 65px;
  margin-top: 50px;
  border: 25px;
  background-color: rgba(37, 37, 37, 0.5);
}
.talleres_texto_parrafo2 {
  color: white;
  font-size: 1.5rem;
  width: 90%;
  position: absolute;
  margin-left: 130%;
  margin-top: -65%;
  border: 25px;
  background-color: rgba(37, 37, 37, 0.5);
}
.talleres_imagen {
  width: 100%;
  height: 85%;
}

.evaluaciones {
  height: 100vh;
  width: 100vw;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.evaluaciones_menu_titulo {
  margin-left: 15%;
  margin-top: -10%;
  font-size: 3.5rem;
}
.menu_evaluaciones_nav {
  text-decoration: none;
  list-style: none;
  justify-content: center;
  width: 60%;
  color: white;
}
.evaluaciones_menu_nav_lista {
  text-decoration: none;
  list-style: none;
  color: white;
  width: 75%;
  height: 70%;
  margin-left: 15%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 2.5rem;
}
.evaluaciones_menu_nav_lista_link_psicodiagnostico {
  background-color: rgba(252, 133, 117, 0.5);
  text-decoration: none;
  color: white;
}
.evaluaciones_menu_nav_lista_link_neurocognitivo {
  background-color: rgba(170, 248, 106, 0.5);
  text-decoration: none;
  color: white;
}
.evaluaciones_menu_nav_lista_link_psicopedagogia {
  background-color: rgba(62, 204, 145, 0.5);
  text-decoration: none;
  color: white;
}
.evaluaciones_menu_nav_lista_link_fonoaudiologia {
  background-color: rgba(106, 203, 248, 0.5);
  text-decoration: none;
  color: white;
}
.evaluaciones_menu_nav_lista_link_ados {
  background-color: rgba(208, 106, 248, 0.5);
  text-decoration: none;
  color: white;
}
.evaluaciones_menu_nav_lista_link_sensorial {
  background-color: rgba(248, 106, 189, 0.5);
  text-decoration: none;
  color: white;
}

.explicacion_evaluaciones_psicodiagnostico {
  background-color: rgba(252, 133, 117, 0.5);
  color: white;
  font-size: 1.5rem;
  width: 80%;
  margin: 5%;
}

.explicacion_evaluaciones_neurocognitivo {
  color: white;
  font-size: 1.5rem;
  width: 80%;
  margin: 5%;
  background-color: rgba(170, 248, 106, 0.5);
}
.explicacion_evaluaciones_psicopedagogica {
  color: white;
  font-size: 1.5rem;
  width: 80%;
  margin: 5%;
  background-color: rgba(62, 204, 145, 0.5);
}
.explicacion_evaluaciones_fonoaudiologia {
  color: white;
  font-size: 1.5rem;
  width: 80%;
  margin: 5%;
  background-color: rgba(106, 203, 248, 0.5);
}
.explicacion_evaluaciones_ados {
  color: white;
  font-size: 1.5rem;
  width: 80%;
  margin: 5%;
  background-color: rgba(208, 106, 248, 0.5);
}
.explicacion_evaluaciones_sensorial {
  color: white;
  font-size: 1.5rem;
  width: 80%;
  margin: 5%;
  background-color: rgba(248, 106, 189, 0.5);
}
.capacitaciones_intro {
  color: white;
  width: 100vw;
  display: flex;
  margin-bottom: 5%;
  padding-top: 5%;
}
.capacitaciones_intro_areaTexto {
  margin-top: 5%;
  background-color: rgba(37, 37, 37, 0.5);
  width: 80%;
  margin-left: 10%;
  font-size: 1.5rem;
}
.novedades {
  color: white;
  width: 100vw;
}

.novedades_area_texto {
  margin: 5%;
  background-color: rgba(37, 37, 37, 0.5);
  width: 80%;
  margin-left: 10%;
  font-size: 1.5rem;
}
.proximos_titulo {
  font-size: 2.5rem;
  margin-left: 35%;
  padding: 5%;
}

.proximos_cards {
  margin-left: 15%;
  width: 85%;
  transition: 0.5s;
}
.proximos_cards_tarjetas {
  width: 25%;
  height: 25%;
}

.proximos_cards :hover {
  transform: scale(1.2);
}

.body_contacto {
}

.forumlario_contacto {
  height: 100vh;
  width: 100px;
  padding: 15%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
